@use '../../../styles/mixins' as mixins;

.creatureForm {
    .modes {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 40px;

        button {
            padding-left: 0.5em;
            padding-right: 0.5em;
            margin: 0;
            border-radius: 0;

            &:first-child { border-radius: 8px 0 0 8px }
            &.active { background: #fff3 }
        }

        .importTab {
            border-radius: 0 8px 8px 0;
            background: transparent;
            border: 1px solid #fff3;
            color: #ccc;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;

            &:hover {
                background: #fff1;
                color: white;
            }
        }
    }

    .buttons {
        margin-top: 2em;
        display: flex;
        gap: 1em;
        margin-top: 1em;

        button, > div { flex: 1 1 0; margin: 0 }
        @media (width < 600px) { flex-direction: column; }
    }
}