.simulation {
    flex-grow: 1;
    width: 100%;
    padding: 1em;
    counter-reset: encounters 0;
    display:flex;
    flex-direction: column;
    gap: 2em;

    .header {
        user-select: none;
        color: #fff;
        text-align: center;
        margin-bottom: 1em;
        
        &::before {
            display: block;
            width: 100%;
            height: 0;
            box-shadow: 0px 0px 2em 1.5em #977;
            content: '';
        }
    }

    .addEncounterBtn { margin: 0 }

    .eventLog {
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f9f9f9;
        margin-top: 1em;

        h3 {
            margin: 0;
            padding: 0.5em 1em;
            background-color: #e0e0e0;
            border-bottom: 1px solid #ccc;
            color: #333;
            font-size: 1.1em;
        }

        .eventLogContent {
            max-height: 300px;
            overflow-y: auto;
            padding: 1em;
        }

        .eventLogEntry {
            padding: 0.25em 0;
            border-bottom: 1px solid #eee;
            font-family: 'Courier New', monospace;
            font-size: 0.9em;
            color: #333;

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background-color: #f0f0f0;
            }
        }
    }
}